/*body{
		-webkit-overflow-scrolling: touch;
}*/
html{
		font-size: 10px;
}
.sub-wrapper {
		overflow: auto;
}
.sub-wrapper section.split-page-item{
		width: 100%;
		position: relative;
		display: flex;
		display: -webkit-flex;
		overflow: hidden;
}
.sub-wrapper section.fitst-item{
		background: -webkit-radial-gradient(center 40%, #fdda02 10%, #e7a700);
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		/*align-content: center;*/
}
.sub-wrapper section.fitst-item div.logo{
		height: 10rem;
		width: 100%;
		background: rgba(240,196,1,.0) url(../img/zuwomelogo.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		/*align-items: center;*/
}
.sub-wrapper section.fitst-item div.slogan{
		width: 80%;
		height: 15rem;
		margin-top: 2rem;
		display: flex;
		align-content: flex-start;
		justify-content: center;
		flex-wrap: wrap;
}
.sub-wrapper section.fitst-item div.slogan div{
		width: 100%;
		height: 5rem;
		text-align: center;
		line-height: 5rem;
		color: #4d5354 ;
		font-size: 2rem;
}
.sub-wrapper section.fitst-item div.slogan div{
		border-bottom: solid #9da6a9 1px;
		/*transform: scaleY(0.5);
		-webkit-transform: scaleY(0.5);*/
}
.sub-wrapper section.fitst-item div.slogan div small{
		color: #606c6f ;
}
.sub-wrapper section.fitst-item div.slogan div.slogan-up{
		font-size: 2.5rem;
}
.sub-wrapper section.fitst-item div.slogan div.slogan-middle{
		width: 80%;
}
.sub-wrapper section.fitst-item div.slogan div.slogan-down{
		width: 50%;
		font-size: 1.6rem;
		color: #4d5354 ;
}
.sub-wrapper section.fitst-item div.download-icon{
		margin-top: 2rem;
		border: solid 1px #4d5354;
		border-radius: 10px;
		width: 50%;
		height: 5rem;
		color: #4d5354;
		font-size: 2.5rem;
		text-align: center;
		line-height: 5rem;
}
.sub-wrapper section div.pointing{
		width: 3rem;
		height: 3rem;
		z-index: 1000;
		text-align: center;
		position: absolute;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		animation: pointing 1s ease-out infinite;
		-webkit-animation: pointing 1s ease-out infinite;
}
.sub-wrapper section div.pointing span{
		color: #f3f1e4;
		font-size: 3rem;
}
@keyframes pointing{
	from{
		transform: translate(-50%,3rem);
		-webkit-transform: translate(-50%,3rem);
		opacity: 0;
	}
	to{
		transform: translate(-50%,0);
		-webkit-transform: translate(-50%,0);
		opacity: 1;
	}
}

.sub-wrapper section.second-item div.swiper-container{
		height: 100%;
		width: 100%;
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper{
		height: 100%;
		width: 100%;
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide{
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide .transformRotate1{
		width: calc(80% * 0.9);
		height: calc(100% * 0.9);
		margin: 0 auto;
		overflow: hidden;
		display: flex;
		justify-content: center;
		transform-origin: center;
		transform: translateY(-5rem) rotateZ(45deg);
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide .transformRotate2{
		width: 100%;
		height: 100%;
		overflow: hidden;
		transform-origin: center;
		transform: rotateZ(45deg);
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide .transformRotate3{
		width: 100%;
		height: 100%;
		overflow: hidden;
		transform-origin: center;
		transform: rotateZ(45deg);
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide .transformRotate .bgimg{
		width: calc(125% * 0.8);
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		transform: rotateZ(-135deg);
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide span{
		display: block;
		width: 80%;
		margin: 0 auto;
		text-align: center;
		font-size: 5rem;
		color: #4d5354;
}
/*@media only screen and (max-width: 400px) {
	.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide span{
			bottom: 5rem;
			font-size: 3rem;
	}
}*/
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide:nth-of-type(1) .bgimg{
		background-image: url(../img/IMG_3274.PNG);
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide:nth-of-type(2) .bgimg{
		background-image: url(../img/IMG_3275.PNG);
		background-position: 0rem 2rem;
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide:nth-of-type(3) .bgimg{
		background-image: url(../img/IMG_3277.PNG);
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide:nth-of-type(4) .bgimg{
		background-image: url(../img/IMG_3279.PNG);
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide:nth-of-type(5) .bgimg{
		background-image: url(../img/IMG_3280.PNG);
		background-position: 0rem 4rem;
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide:nth-of-type(6) .bgimg{
		background-image: url(../img/IMG_3273.PNG);
}

/*.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide:nth-of-type(1) span{
		color: #05f1ff;
		
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide:nth-of-type(2) span{
		color: #ff47c5;
		
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide:nth-of-type(3) span{
		color: #a091f3;
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide:nth-of-type(4) span{
		color: #4def18;
}
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide:nth-of-type(5) span{
		color: #ff2d0b;
}
*/
.sub-wrapper section.second-item div.swiper-container div.swiper-wrapper div.swiper-slide:nth-of-type(6) span{
		font-size: 3rem;
}

.sub-wrapper section.third-item{
		background: -webkit-radial-gradient(center 40%, #fdda02 10%, #e7a700);
}
.sub-wrapper section.third-item div.made-by-you{
		width: 100%;
		height: 100%;
		color: #8f7f92;
		font-size: 3rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		
}
.sub-wrapper section.third-item div.made-by-you p.p-fly-in{
		text-align: center;
		border-bottom: solid #9da6a9 1px;
}
.sub-wrapper section.third-item div.made-by-you p:nth-of-type(1){
		width: 90%;
		display: flex;
		justify-content: space-between;
		opacity: 0;
		transform: translate(-50%,0);
		-webkit-transform: translate(-50%,0);
		transition: all 1s ease-out 0.3s;
		-webkit-transition: all 1s ease-out 0.3s;
}
.sub-wrapper section.third-item div.made-by-you p:nth-of-type(2){
		width: 75%;
		display: flex;
		justify-content: space-between;
		margin: 2rem 0;
		opacity: 0;
		transform: translate(50%,0);
		-webkit-transform: translate(50%,0);
		transition: all 1s ease-out 1.5s;
		-webkit-transition: all 1s ease-out 1.5s;
}
.sub-wrapper section.third-item div.made-by-you p:nth-of-type(3){
		width: 60%;
		display: flex;
		justify-content: space-between;
		opacity: 0;
		transform: translate(0,200%);
		-webkit-transform: translate(0,200%);
		transition: all 1s ease-out 2.8s;
		-webkit-transition: all 1s ease-out 2.8s;
}
.sub-wrapper section.third-item div.made-by-you div.download-icon{
		margin-top: 2rem;
		border: solid 1px #4d5354;
		border-radius: 10px;
		width: 50%;
		height: 5rem;
		color: #4d5354;
		font-size: 2.5rem;
		text-align: center;
		line-height: 5rem;
		opacity: 0;
		transition: all 1s ease-out 4s;
		-webkit-transition: all 1s ease-out 4s;
}
.restoration{/*飞入复位*/
		transform: translate(0,0) !important;
		-webkit-transform: translate(0,0) !important;
		opacity: 1 !important;
}

.sub-wrapper section.four-item{
		overflow: auto;
		-webkit-overflow-scrolling: touch;
}
.sub-wrapper section.four-item div.safeguard{
		height: 95%;
		width: 95%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-shrink: 0;
}
.sub-wrapper section.four-item div.safeguard img{
		height: 85%;
		margin: 0 auto;
}
.sub-wrapper section.four-item div.safeguard div.explanation{
		/*height: 20%;*/
		font-size: 2rem;
		color: #8f7f92;
		text-align: center;
		margin: 0 auto;
		padding: 1rem 0;
}













